# Node modules et dépendances
node_modules
npm-debug.log
yarn-error.log

# Dossier de build
.next
out

# Configuration locale et IDE
.DS_Store
.vscode
.idea
*.swp
*.swo

# Fichiers d'environnement
.env
.env.local
.env.production
.env.development